.create-container{
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
height: 600px;

}
.upload-container{
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
   background-color: aqua;
   height: 300px;
}
.save-btn{
    background-color: rgb(16, 240, 83);
    color:darkmagenta
}